python-telegram-bot>=21.0
python-dotenv
transformers>=4.46.0
accelerate>=0.34.0
PyYAML>=6.0.1
safetensors>=0.4.5
huggingface_hub>=0.23.0
sentencepiece>=0.2.1
protobuf>=3.20.3
bitsandbytes
tiktoken>=0.7.0